li .glyphicon {
    margin-right: 10px;
}

.company-font {
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
}

.logo {
    background: url(../../../assets/images/spruce_street_solutions_logo.png) no-repeat;
    width: 150px;
    margin-top: 7px;
}


.linkedin {
    background: url(../../../assets/images/linkedin_icons.png) no-repeat;
    width: 34px;
    height: 34px;
    font-size: 0px;
    background-position: 0px 0px;
}

    .linkedin:hover {
        animation: social_animation 0.5s steps(6) forwards;
    }


.facebook {
    background: url(../../../assets/images/facebook_icons.png) no-repeat;
    width: 34px;
    height: 34px;
    font-size: 0px;
    background-position: 0px 0px;
}

    .facebook:hover {
        animation: social_animation 0.5s steps(6) forwards;
    }

@keyframes social_animation {
    100% {
        background-position-x: -204px;
    }
}


.navbar-toggle {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 3px;
    border-color: slategray;
    padding: 6px;
    background-color: ghostwhite;
}

    .navbar-toggle .icon-bar {
        height: 1px;
    }


.navbar {
    background-color: transparent;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
    border-color: transparent;
    
}

@media (max-width: 767px) {
    
  .navbar-collapse {
     background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.5) 3%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(255,255,255,0.5) 3%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 2%,rgba(255,255,255,0.5) 3%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
    }
}

    .navbar li a {
        color: darkslategray;
        font-family: Dosis, Arial, sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -khtml-font-smoothing: antialiased;
        -apple-font-smoothing: antialiased;
        font-smooth: always;
        text-rendering: optimizelegibility;
        text-rendering: geometricPrecision;
    }