.portland {
    background: url(../../../assets/images/portland.jpg) bottom center no-repeat;
    background-size: 110%;
    transition: all .5s ease-in-out;
}

.portland:hover {
    background-size: 100%;
}

.clock {
    height: 350px;
    margin: 50px;
    width: 350px;
    position: relative;
}

.clock-content {
    position: relative;
    top: 30%;
    text-align: center;
}

.clock .clock-content h1 {
    font-size: 8em;
}

.clock-hand {
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.circle {
    border: 7px solid #fff;
    border-radius: 50%;
}

.seconds {
    -moz-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -moz-animation-name: animateSecondsHand;
    -webkit-animation-name: animateSecondsHand;
    animation-name: animateSecondsHand;
    -moz-animation-duration: 60s;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: cubic-bezier(0.17, 0.67, 0.17, 0.98);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.17, 0.98);
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.17, 0.98);
    background-image: url(../../../assets/images/clock-hand-seconds.png);
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.minutes {
    background-image: url(../../../assets/images/clock-hand-minute.png);
}

.hours {
    background-image: url(../../../assets/images/clock-hand-hour.png);
}

@-webkit-keyframes animateRain {
    0% {
        background-position: 0 124%
    }
    100% {
        background-position: 0 0
    }
}

@-moz-keyframes animateRain {
    0% {
        background-position: 0 124%
    }
    100% {
        background-position: 0 0
    }
}

@-o-keyframes animateRain {
    0% {
        background-position: 0 124%
    }
    100% {
        background-position: 0 0
    }
}

@keyframes animateRain {
    0% {
        background-position: 0 124%
    }
    100% {
        background-position: 0 0
    }
}

.temp {
    font-size: 6em;
}

.rain {
    background-image: url(../../../assets/images/rain.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: none;
    margin: 5% auto 0;
    position: absolute;
    height: 90px;
    left: auto;
    right: 10%;
    top: -20px;
    width: 90px;
}

.rain::after {
    -moz-animation-name: animateRain;
    -webkit-animation-name: animateRain;
    animation-name: animateRain;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-image: url(../../../assets/images/rain-for-animation.svg);
    background-repeat: repeat-y;
    background-size: 100%;
    height: 22%;
    top: 70%;
    width: 100%;
    transform: translateZ(1px);
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 767px) {
    .portland {
        background-size: cover;
    }
    .portland:hover {
        background-size: cover;
    }
    .temp {
        font-size: 3em;
    }
    .clock {
        margin: 50px 0;
    }
}
