<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="Apps, websites, games, banners, interactive kiosks, campaign, advertising, interaction design, visual design, project management, development, animation, technical design ">
        <meta name="description" content="We are a different kind of development company. We bring together product design, brand, social connections and content to help deliver solutions that make businesses thrive." />
        <title>@ViewData["Title"]</title>
        <base href="/" />
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
