<div class="row join">
    <div class="col-xs-8 col-xs-offset-2 white-text">
        <h1 class="header white-text center-text">Join</h1>
        <p>Trouble waking up in the morning because you hate your current job? Are you a superstar developer? Do you love creating high-end digital stuff that wins awards and eats mediocrity for breakfast? Pick up that phone because otherwise we will never meet and your life will continue to suck.</p>
    </div>
</div>

<div class="row no-open">
    <div class="col-xs-10 col-xs-offset-2">
        <h2 class="header">No Openings</h2>
        <hr class="section-hr hr-black" />
        <p>Hey, just because we're currently not hiring doesn't mean we don't want to hear from you. Drop us a line, tells what you like to do and we'll keep you posted on when we have something you'd be interested in.</p>

        <p style="margin-top:20px;">
            <a href="mailto:info@sprucestreetsolutions.com" class="box-btn">SEND US MESSAGE</a>
        </p>
    </div>
</div>
