.footer {
    margin-top: 10px;
    background: #161c25 url(../../../assets/images/background-crossplatform.png) no-repeat right top;
    padding:0;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .footer-col a {
    color: #fdfdf9;
    text-decoration: underline;
}