<div class="row footer" style="margin-top:10px;">
    <div class="col-md-3 white-text">
        <h2 class="header white-text">CONNECT</h2>
        <hr class="section-hr" />
    </div>
    <div class="col-md-3 left-bar white-text">
        <h4>OFFICE:</h4>
        Hillsboro, Oregon
    </div>
    <div class="col-md-3 left-bar white-text">
        <h4>EMAIL:</h4>
        <a class="white-link" href="mailto:info@sprucestreetdesigns.com">info@sprucestreetdesigns.com</a>
    </div>
    <div class="col-md-3 left-bar white-text">
        <h4>PHONE:</h4>
        503 927 5155
    </div>
</div>

<div class="row footer" style="padding:0px; text-align:center">
    <div class="col-xs-12 footer-col white-text">
        <small><i>Designed and built with all the love in the world.  | Copyright 2017 | Spruce St. Solutions | 
                    <a [routerLink]="['/sitemap']">sitemap</a></i></small>
    </div>
</div>
