<div class="row">
    <div class="col-xs-12 banner">
        <video autoplay="autoplay" style="width:100%;" autoplay>
            <source src="../../../assets/media/city.mp4" type="video/mp4">
        </video>
        <div class="logo hidden-xs">
            <img src="../../../assets/images/logo.png" />
        </div>
        <div class="text">
            Making the complex <br />
            simple and relatable<br />
            on any platform
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-4" style="text-align:center;">
        <h2>We're a little bit different.</h2>
        <hr class="section-hr hr-black" />
        <p>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
            </span>
        </p>
        <p style="margin-top: 20px;">
            <a href="" class="box-btn">SEE OUR SERVICES</a>
        </p>
    </div>
</div>
<div class="row cross-platform">
    <div class="col-md-4 col-md-offset-2">
        <h2 class="header white-text">CROSS PLATFORM</h2>
        <hr class="section-hr" />
        <p class="section-text">
            Every project focuses on the success for each platform.  Giving you confidence in every market.
        </p>
    </div>
    <div class="col-md-5">
        <img class="desktop" src="../../../assets/images/desktop.png" />
        <img class="tablet" src="../../../assets/images/tablet.png" />
        <img class="mobile" src="../../../assets/images/mobile.png" />
    </div>
</div>

<div class="row case-study" style="margin-top:10px;">
    <div class="case-study-inner">
        <div class="col-md-4">
            <h2 class="header white-text">CASE STUDY</h2>
            <hr class="section-hr" />
        </div>
        <div class="col-md-2 left-bar case-study-col">
            <h4 class="header white-text">CLIENT:</h4>
            Automap
            <h4 class="header white-text">BRAND:</h4>
            Locator
        </div>
        <div class="col-md-3 left-bar case-study-col">
            <h4 class="header white-text">DELIVERABLES:</h4>
            iOS &amp; Android Mobile Solution.
        </div>
        <div class="col-md-3 left-bar right-bar case-study-col">
            <h4 class="header white-text">TECHNOLOGIES:</h4>
            Xamarin - iOS &amp; Android.
        </div>
    </div>
</div>



