@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    /*.body-content {
        padding-top: 50px;
    }*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: Dosis, Arial, sans-serif;
}

section {
    float: left;
}

    section.white {
        background-color: white;
    }

    section.gray {
        background-color: slategray;
        color: white;
    }

    section.text {
        padding: 20px;
        text-align: center;
    }

