<h1 class="header">Work</h1>

<div class="row">
    <div class="col-xs-12">
        <p>Every great product begins with a plan.</p>

        <img src="../../../assets/images/user_interface.png" alt="user interface" />

        <p>At Spruce St. we don't promise the moon we create realistic short term goals based on minimal viable products. Not only will this keep our teams on track but also creates synergy that drives better solutions. We look for all high level requirements needed to make your product successful so that your users can start using it right away.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 class="header">WE PLAY FAIR</h2>
        <img src="../../../assets/images/appstores.jpg" alt="Android and iOS development" />
        <p>It's not one or the other for us.  We are not an apple or android development house.  Every solution is made for any store.  We write the code once and make it all available to you.  Hey you paid for it so if you want to go somewhere else why not.  You don't expect someone to hold your coffee that you just bought and ask them to put it to your lips. Well we feel the same way!  All our products are fair game through the whole process.  Want to see how much we're working on your project?  Sure, we'll show you that!  Want to see how crappy our coding is?  Sure, we'll show you that too!  But we're pretty darn picky how we work and our code is like art to us developers.  And I'm talking Rembrant not Pollock!  Every semicolon in place and all under tests so that you can be assured that it's going to work as you expect.</p>
    </div>
</div>
