<div class="row section-white">
    <div class="col-md-4 col-md-offset-2">
        <h2 class="header">Our Process</h2>
        <hr class="section-hr hr-black" />
        <p class="text">Every great product begins with a plan.</p>
        <p class="text">
            At Spruce St. we don't promise the moon we create realistic short term goals based on minimal viable products. Not only will this keep our teams on track but also creates synergy that drives better solutions. We look for all high level requirements needed to make your product successful so that your users can start using it right away.
        </p>
    </div>
    <div class="col-md-5">
        <img src="../../../assets/images/user_interface.png" width="100%" alt="user interface" />
    </div>
</div>

<div class="row section-black">
    <div class="col-md-3 col-md-offset-2">
        <h2 class="header white-text">WE PLAY FAIR</h2>
        <hr class="section-hr" />
        <p class="text white-text">
            <img src="../../../assets/images/app_stores.png" width="25%" class="pull-left" alt="Android and iOS development" />
            It's not one or the other for us.  Every solution is designed to make you successful no matter what store you want to be in.  
        </p>
    </div>
    <div class="col-md-4">
        <img src="../../../assets/images/services.jpg" width="100%" alt="Android and iOS development" />
    </div>
</div>



<div class="row section-white">
    
    <div class="col-md-2 col-md-offset-2">
        <img src="../../../assets/images/aboutus.png" width="100%" alt=".net development" />
    </div>
    <div class="col-md-5">
        <h2 class="header">Quality First</h2>
        <hr class="section-hr black-hr" />
        <p class="text">
            We write the code once and make it all available to you.  Hey you paid for it so if you want to go somewhere else why not.  You don't expect someone to hold your coffee that you just bought and ask them to put it to your lips. Well we feel the same way regarding your intelectual property!  All our products are fair game through the whole process.  Want to see how much we're working on your project?  Sure, we'll show you that!  Want to see how crappy our coding is?  Sure, we'll show you that too!  But we're pretty darn picky how we work and our code is like art to our developers.  And I'm talking Rembrant not Pollock!  Every semicolon in place and all under tests so that you can be assured that it's going to work as you expect.
            
        </p>
    </div>
</div>
