<div class="row produce">
    <div class="col-xs-8 col-xs-offset-2 white-text shadow">
        <h1 class="header white-text center-text">SOLVING PROBLEMS TOGETHER</h1>
        <p>Working with us is a creative joint venture. We rely heavily on collaboration and teamwork across borders to bring ideas to life. We are always in it together, whether you are a client, partner, or colleague. Everyone plays a significant role, because everyone can make a difference.</p>
    </div>
</div>


<div class="row" style="padding:50px 0;">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <h2 class="header">OUR CAPABILITIES</h2>
                <hr class="section-hr hr-black" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                <h2 class="header">Development</h2>
                <p>
                    Rock solid back-end and eye-popping front-end development. No less.
                </p>
            </div>

            <div class="col-lg-3">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                <h2 class="header">Technical Design</h2>
                <p>
                    Laying the foundation for your digital project, no stone left unturned.
                </p>
            </div>

            <div class="col-lg-3">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                <h2 class="header">Interaction Design</h2>
                <p>
                    Complete user flows and wireframes. Always interactive and clickable.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                <h2 class="header">Visual Design</h2>
                <p>
                    So beautiful it makes you wanna lick your screen.
                </p>
            </div>

            <div class="col-lg-3">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                <h2 class="header">Project Management</h2>
                <p>
                    You will have a single point of contact who will stick by you when the going gets tough.
                </p>
            </div>

            <div class="col-lg-3">
                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                <h2 class="header">Animation</h2>
                <p>
                    Taking the visual design to the next level way before a single line of code has been typed.
                </p>
            </div>
        </div>
    </div>
</div>
