/* You can add global styles to this file, and also import other style files */

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    /*.body-content {
        padding-top: 50px;
    }*/
}

section {
    float: left;
}

    section.white {
        background-color: white;
    }

    section.gray {
        background-color: slategray;
        color: white;
    }

    section.text {
        padding: 20px;
        text-align: center;
    }



.header  {
    font-family: Dosis, Arial, sans-serif;
    font-size: 3.5rem;
    letter-spacing: 1.9px;
    text-align: left;
    margin-bottom: 14px;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizelegibility;
    text-rendering: geometricPrecision;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.white-text{
    color:#fdfdf9;
}

.section-hr {
    background-color: #fdfdf9;
    margin-left: 0;
    display: block;
    margin: 0 10px 17px;
    max-width: 80px;
    height: 3px;
    border-width: 0;
    box-sizing: content-box;
}

.hr-black {
    background-color: #222;
}