<section class="banner-wrapper">
    <div class="banner">
        <div class="text">Results driven</div>
    </div>
</section>
<section class="white text">
    <h2>
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        We help our clients to put the user first by making the complex simple and relatable, no matter what medium or platform.
    </h2>
</section>

<video width="640" height="360" controls autoplay>
    <source src="../../content/images/city.mp4" type="video/mp4" />
</video>
